.social-icons {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    font-size: 30px;
  }
  
  .icon {
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  
  .instagram {
    color: #8b2a7e;
  }
  
  .facebook {
    color: #1877f2;
  }
  
  .snapchat {
    color: #f0ee6a;
  }
  
  .x {
    color: #000;
  }